<section class="post-comments">
  <div id="container"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
      var gitment = new Gitment({
          id: '<%= page.date %>', // 可选。默认为 location.href
          owner: 'guoxuzan',
          repo: 'BlogComments',
          oauth: {
              client_id: '7cd5cc6e328531db7de1',
              client_secret: '6c6cb6f1eada0768fe27a570df1db782bfba1d0a',
          },
      })
      gitment.render('container')
  </script>
</section>
