<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li><a class="u-email" href="mailto:{{ site.email }}">Gmail</a></li>
            <li><a class="u-email" target="_blank" href="https://github.com/guoxuzan">Github</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
            <li><a class="u-email" target="_blank" href="https://beian.miit.gov.cn">京ICP备16022259号-1</a></li>
            <li><a href="{{ "/feed.xml" | relative_url }}">RSS</a></li>
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> -->
    </div>

  </div>

</footer>
